/*
Style Guide
  > Primary Color: blue
  > Secondary Color: slategray

Typography
  > font-family: 'Bangers', cursive;
*/

h1{
  color: blue;
  font-family: 'Bangers', cursive;
  font-size: 48px;
  letter-spacing: 75px;
  text-align: center;
}

ol{
  color: slategray;
}

img{
  width: 100%;
}

p{
  color: slategray;
}