/*
Style Guide
  > Primary Color: navy
  > Secondary Color: 

Typography
  > Header Font: Sigmar One
  > Body Font: Merriweather
*/

/* Sigmar One */
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

/* Merriweather */
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body{
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

h1{
  color: navy;
  font-family: 'Sigmar One', Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
  text-align: center;
}

img{
  width: 500px;
}